<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jfcat.boottest.mapper.DictionaryMapper">

    <select id="queryAllDictionary" resultType="com.jfcat.boottest.entity.TDictionary">
        select * from t_dictionary
    </select>
</mapper>